.dialog{
    width: 80%;
    height: 500px;
    background: grey;
    float: right;
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
    color: cornsilk;
    text-transform: uppercase;
}