body{
    margin: 0;
    padding: 0;
    background: rgb(214, 214, 214);
    height: 100%;
}
html{
    height: 100%;
}
.container{
    height: 100%;
}
#root{
    height: 100%;
}
.display{
    display: flex;
    margin-top: 10px;
}
.display_content{
    width: 78%;
    margin-left: 2%;
}